<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configure | Vital Editor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- <link href="assets/css/style.css" rel="stylesheet"> -->
</head>
<body>

    <header class="p-2 border-bottom text-bg-client">
        <div class="container-fluid">
          <div class="d-flex flex-wrap align-items-center justify-content-between">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none me-3 pri-logo" title="Vital DX">
              <img src="assets/images/vitalpath-logo.png" alt="vitalpath-logo" class="header-logo"/>
              <span class="text-light fs-5 ms-2">Vital<strong class="text-white">DX</strong></span>
          </a>

            <!-- <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 main-nav">
              <li><a href="#" class="nav-link px-2 nav-active">Overview</a></li>
              <li><a href="#" class="nav-link px-2 ">Inventory</a></li>
              <li><a href="#" class="nav-link px-2 ">Customers</a></li>
              <li><a href="#" class="nav-link px-2 ">Products</a></li>
            </ul>
    
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
              <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end me-3">
                <button type="button" class="btn btn-outline-light me-2">Login</button>
            </div> -->

            <div class="d-flex align-items-center">

                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none sec-logo" title="Report Editor">
                    <span class="text-light fs-5">Report<strong class="text-white ms-1">Editor</strong></span>
                </a>
        
                <!-- <div class="dropdown text-end ms-3">
                    <a href="#" class="d-block link-white text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                        <strong>Admin</strong>
                    </a>
                    <ul class="dropdown-menu text-small shadow">
                        <li><a class="dropdown-item" href="#"><i class="bi bi-folder-plus me-3"></i>New Project</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-gear me-3"></i>Settings</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-person me-3"></i>Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-power me-3"></i>Sign out</a></li>
                    </ul>
                </div> -->

            </div>

          </div>
        </div>
    </header>

    <div class="content-area d-flex">
      <div class="d-flex flex-column flex-shrink-0 bg-light sidebar shadow">
        <div class="d-flex flex-column w-100 border-bottom p-3">      
          <strong class="fs-7 w-100">Pathaxis Laboratory LLC</strong>
          <span class="w-100 text-muted user-info">Mr. Anderson<span class="text-muted">&nbsp;&nbsp;|&nbsp;&nbsp;</span>Administrator</span>
        </div>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" (click)="gotoPublished()">
              Published
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" (click)="gotoConfigure()">
              Configure
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" (click)="gotoApproval()">
              Approval
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" (click)="gotoAudit()">
              Audit
            </a>
          </li>
        </ul>
        <div class="dropdown p-3 border-top">
          <a class="d-flex align-items-center text-decoration-none" aria-expanded="false">
            <i class="bi bi-power me-3"></i>
            <strong class="text-primary cursor-pointer" (click)="logOut()">Logout</strong>
          </a>
          <!-- <a href="#" class="d-flex align-items-center text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-gear-fill me-2 fs-6"></i>
            <strong class="text-primary">Settings</strong>
          </a>
          <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item" href="#"><i class="bi bi-folder-plus me-3"></i>New Project</a></li>
            <li><a class="dropdown-item" href="#"><i class="bi bi-gear me-3"></i>Settings</a></li>
            <li><a class="dropdown-item" href="#"><i class="bi bi-person me-3"></i>Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item"><i class="bi bi-power me-3" (click)="logOut()"></i>Logout</a></li>
          </ul> -->
        </div>
      </div>

      <div class="main-content bg-lightgray w-100 p-3">

        <div class="card">
          <div class="card-body"> 
            
            <div class="w-100 d-flex align-items-center justify-content-between">
              <div>
                <strong class="text-primary fs-5">Choose Theme</strong><br/><span class="text-secondary">(Selected Theme will be applied to all Casetypes)</span>
              </div>
              <div class="d-flex align-items-center">
                <!-- <button class="btn btn-outline-primary fw-bold px-4" >Upload Template</button> -->
                <button class="btn btn-primary fw-bold px-4 ms-3" (click)="openConfigurePreview()">Preview and Proceed</button>
              </div>
            </div>

            <ul class="w-100 d-flex flex-wrap list-unstyled configure-list mt-4">
-
              <li class="mb-3 text-center mx-2 active position-relative parentcard">
                <div class="card m-0">
                  <div class="card-body p-2">
                    <a (click)="openConfigurePreview()">
                      <img src="assets/images/report.png" class="img-fluid theme-tile border" alt="theme-tile">
                    </a>
                  </div>
                </div>
                <div class="card m-0 hover_card">
                  <div class="card-body p-2 text-center d-flex h-100 w-100 align-items-center justify-content-center flex-column" (click)="openConfigurePreview()">
                    <i class="bi bi-eye-fill fs-5 text-primary"></i>
                    <strong class="text-primary">Click to Preview</strong>
                    </div>
                </div>
                <strong class="my-2 d-inline-block theme-title">Theme 1</strong>
              </li>

              <li class="mb-3 text-center mx-2 active position-relative parentcard">
                <div class="card m-0">
                  <div class="card-body p-2">
                    <a (click)="openConfigurePreview()">
                      <img src="assets/images/report.png" class="img-fluid theme-tile border" alt="theme-tile">
                    </a>
                  </div>
                </div>
                <div class="card m-0 hover_card">
                  <div class="card-body p-2 text-center d-flex h-100 w-100 align-items-center justify-content-center flex-column">
                    <i class="bi bi-eye-fill fs-5 text-primary"></i>
                    <strong class="text-primary">Click to Preview</strong>
                    </div>
                  </div>
                <strong class="my-2 d-inline-block theme-title">Theme 2</strong>
              </li>

              <li class="mb-3 text-center mx-2 active position-relative parentcard">
                <div class="card m-0">
                  <div class="card-body p-2">
                    <a (click)="openConfigurePreview()">
                      <img src="assets/images/report.png" class="img-fluid theme-tile border" alt="theme-tile">
                    </a>
                  </div>
                </div>
                <div class="card m-0 hover_card">
                  <div class="card-body p-2 text-center d-flex h-100 w-100 align-items-center justify-content-center flex-column">
                    <i class="bi bi-eye-fill fs-5 text-primary"></i>
                    <strong class="text-primary">Click to Preview</strong>
                    </div>
                  </div>
                <strong class="my-2 d-inline-block theme-title">Theme 3</strong>
              </li>

              <li class="mb-3 text-center mx-2 active position-relative parentcard">
                <div class="card m-0">
                  <div class="card-body p-2">
                    <a (click)="openConfigurePreview()">
                      <img src="assets/images/report.png" class="img-fluid theme-tile border" alt="theme-tile">
                    </a>
                  </div>
                </div>
                <div class="card m-0 hover_card">
                  <div class="card-body p-2 text-center d-flex h-100 w-100 align-items-center justify-content-center flex-column">
                    <i class="bi bi-eye-fill fs-5 text-primary"></i>
                    <strong class="text-primary">Click to Preview</strong>
                    </div>
                  </div>
                <strong class="my-2 d-inline-block theme-title">Theme 4</strong>
              </li>

              <li class="mb-3 text-center mx-2 active position-relative parentcard">
                <div class="card m-0">
                  <div class="card-body p-2">
                    <a (click)="openConfigurePreview()">
                      <img src="assets/images/report.png" class="img-fluid theme-tile border" alt="theme-tile">
                    </a>
                  </div>
                </div>
                <div class="card m-0 hover_card">
                  <div class="card-body p-2 text-center d-flex h-100 w-100 align-items-center justify-content-center flex-column">
                    <i class="bi bi-eye-fill fs-5 text-primary"></i>
                    <strong class="text-primary">Click to Preview</strong>
                    </div>
                  </div>
                <strong class="my-2 d-inline-block theme-title">Theme 5</strong>
              </li>

              <li class="mb-3 text-center mx-2 active position-relative parentcard">
                <div class="card m-0">
                  <div class="card-body p-2">
                    <a (click)="openConfigurePreview()">
                      <img src="assets/images/report.png" class="img-fluid theme-tile border" alt="theme-tile">
                    </a>
                  </div>
                </div>
                <div class="card m-0 hover_card">
                  <div class="card-body p-2 text-center d-flex h-100 w-100 align-items-center justify-content-center flex-column">
                    <i class="bi bi-eye-fill fs-5 text-primary"></i>
                    <strong class="text-primary">Click to Preview</strong>
                    </div>
                  </div>
                <strong class="my-2 d-inline-block theme-title">Theme 6</strong>
              </li>

              <li class="mb-3 text-center mx-2 active position-relative parentcard">
                <div class="card m-0">
                  <div class="card-body p-2">
                    <a (click)="openConfigurePreview()">
                      <img src="assets/images/report.png" class="img-fluid theme-tile border" alt="theme-tile">
                    </a>
                  </div>
                </div>
                <div class="card m-0 hover_card">
                  <div class="card-body p-2 text-center d-flex h-100 w-100 align-items-center justify-content-center flex-column">
                    <i class="bi bi-eye-fill fs-5 text-primary"></i>
                    <strong class="text-primary">Click to Preview</strong>
                    </div>
                  </div>
                <strong class="my-2 d-inline-block theme-title">Theme 7</strong>
              </li>

              <li class="mb-3 text-center mx-2 active position-relative parentcard">
                <div class="card m-0">
                  <div class="card-body p-2">
                    <a (click)="openConfigurePreview()">
                      <img src="assets/images/report.png" class="img-fluid theme-tile border" alt="theme-tile">
                    </a>
                  </div>
                </div>
                <div class="card m-0 hover_card">
                  <div class="card-body p-2 text-center d-flex h-100 w-100 align-items-center justify-content-center flex-column">
                    <i class="bi bi-eye-fill fs-5 text-primary"></i>
                    <strong class="text-primary">Click to Preview</strong>
                    </div>
                  </div>
                <strong class="my-2 d-inline-block theme-title">Theme 8</strong>
              </li>
            </ul>
          </div>
        </div>

        <!-- <footer class="footer bg-light w-100 px-3 py-2 border">
            <span class="text-muted"><strong>Note:</strong> Changes would be reflected to all the organizations.</span>
        </footer> -->

      </div> 
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

</body>
</html>