<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Published Preview | Vital Editor</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- <link href="assets/css/style.css" rel="stylesheet"> -->
</head>
<body>

    <header class="p-2 border-bottom text-bg-client">
        <div class="container-fluid">
          <div class="d-flex flex-wrap align-items-center justify-content-between">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none me-3 pri-logo" title="Vital DX">
              <img src="assets/images/vitalpath-logo.png" alt="vitalpath-logo" class="header-logo"/>
              <span class="text-light fs-5 ms-2">Vital<strong class="text-white">DX</strong></span>
            </a>

            <!-- <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 main-nav">
              <li><a href="#" class="nav-link px-2 nav-active">Overview</a></li>
              <li><a href="#" class="nav-link px-2 ">Inventory</a></li>
              <li><a href="#" class="nav-link px-2 ">Customers</a></li>
              <li><a href="#" class="nav-link px-2 ">Products</a></li>
            </ul>
    
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
              <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end me-3">
                <button type="button" class="btn btn-outline-light me-2">Login</button>
            </div> -->

            <div class="d-flex align-items-center">

                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none sec-logo" title="Report Editor">
                    <span class="text-light fs-5">Report<strong class="text-white ms-1">Editor</strong></span>
                </a>
        
                <!-- <div class="dropdown text-end ms-3">
                    <a href="#" class="d-block link-white text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                        <strong>Admin</strong>
                    </a>
                    <ul class="dropdown-menu text-small shadow">
                        <li><a class="dropdown-item" href="#"><i class="bi bi-folder-plus me-3"></i>New Project</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-gear me-3"></i>Settings</a></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-person me-3"></i>Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#"><i class="bi bi-power me-3"></i>Sign out</a></li>
                    </ul>
                </div> -->

            </div>

          </div>
        </div>
    </header>

    <div class="content-area d-flex">
      <div class="d-flex flex-column flex-shrink-0 bg-light sidebar shadow">
        <div class="d-flex align-items-center justify-content-between w-100 border-bottom p-3">
          <span class="d-inline-flex align-items-center">
              <i class="bi bi-chevron-left fs-6 text-primary cursor-pointer" title="Back"></i>    
              <strong class="fs-7 ms-2">Casetypes</strong>
          </span> 
          <span>
            <i class="bi bi-globe2 fs-6 text-primary cursor-pointer"></i>
          </span>
        </div>

        <div class="sidebar-scrollarea">

        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a class="nav-link" aria-current="page">
              Bladder Biopsy
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              Breast Biopsy
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page">
              Breast FNA
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page">
              General
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page">
              GI Histology_PLUS
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page">
              Covid
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page">
              Prostate Histology
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page">
              Surgical Podiatry
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page">
              UC & Reflex FISH
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page">
              Urine Cytology
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page">
              UroVysion FISH
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page">
              UVFISH & UC
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page">
              Vasectomy
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page">
              General Cytology
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page">
              UTI
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page">
              Clinical Chemistry
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page">
              Gastrointestinal Pathogen
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page">
              Dermatology
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page">
              Molecular_RPP
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page">
              CGx
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page">
              Molecular_Wound
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page">
              Toxicology
            </a>
          </li>

        </ul>

        </div>

        <div class="p-3 border-top align-items-center d-flex flex-column">
          <button class="btn btn-block w-100 btn-outline-primary fw-bold" >Close</button>
          <button class="btn btn-block w-100 btn-primary fw-bold mt-2" (click)="open(downloadcontent)"><i class="bi bi-download"></i>&nbsp;&nbsp;Download</button>
        </div>
      </div>

      <div class="main-content d-flex align-items-start bg-lightgray w-100 p-3 position-relative">

        <div class="card preview_card d-inline-block me-3">
          <div class="card-header">
            <strong>Preview Report</strong>
          </div>
          <div class="card-body"> 
            <ul class="list-unstyled">
              <li class="active"><a href="#">Finalised</a></li>
              <li><a href="#">Corrected Report</a></li>
              <li><a href="#">Addendum Report</a></li>
              <li><a href="#">Amended Report</a></li>
              <li><a href="#">Supplemental Report</a></li>
            </ul>
          </div>
        </div>

        <iframe src="assets/files/dummy.pdf" style="border:none; width:70vw; height:calc(100vh - 90px);" title="pdf_view"></iframe>


        <!-- <footer class="footer bg-light w-100 px-3 py-2 border">
            <span class="text-muted"><strong>Note:</strong> Changes would be reflected to all the organizations.</span>
        </footer> -->

      </div> 
      

    </div>


    <!-- Published Download Preview Modal Starts-->
    <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" >
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-6 fw-bold text-primary" id="staticBackdropLabel">Download</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body pb-2">
            <div class="w-100 pb-1">
              <strong class="w-100 pb-2 d-block fs-6 text-primary">THEME 5</strong>
              <div class="input-group w-100">
                <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
                <input type="text" class="form-control" placeholder="Search" aria-label="search" aria-describedby="basic-addon1">
              </div>
              <button type="button" class="btn btn-outline-primary my-2">All Casetypes</button>
            </div>

            <div class="w-100 border bg-light p-3">

              <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
                <span>Respiratory</span>
                <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
              </span>

              <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
                <span>Molecular</span>
                <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
              </span>

              <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
                <span>Toxicology</span>
                <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
              </span>

              <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
                <span>Surgical Podlatry</span>
                <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
              </span>

              <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
                <span>Respiratory</span>
                <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
              </span>

              <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
                <span>Molecular</span>
                <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
              </span>

              <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
                <span>Toxicology</span>
                <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
              </span>

              <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
                <span>Surgical Podlatry</span>
                <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
              </span>

              <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
                <span>Respiratory</span>
                <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
              </span>

              <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
                <span>Molecular</span>
                <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
              </span>

              <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
                <span>Toxicology</span>
                <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
              </span>

              <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
                <span>Surgical Podlatry</span>
                <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
              </span>

              <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
                <span>Respiratory</span>
                <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
              </span>

              <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
                <span>Molecular</span>
                <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
              </span>

              <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
                <span>Toxicology</span>
                <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
              </span>

              <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
                <span>Surgical Podlatry</span>
                <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
              </span>

            </div>

            <div class="w-100 p-3">
                <strong>Select all the required types to be downloaded:</strong>

                <div class="row mt-2">

                  <div class="col-md-3 col-sm-12">
                    <div class="form-check d-inline-flex align-items-center">
                      <input class="form-check-input p-2" type="checkbox" value="" id="flexCheckDefault1">
                      <label class="form-check-label ms-2 pt-1" for="flexCheckDefault1">
                        FINALISED
                      </label>
                    </div>
                  </div>

                  <div class="col-md-3 col-sm-12">
                    <div class="form-check d-inline-flex align-items-center">
                      <input class="form-check-input p-2" type="checkbox" value="" id="flexCheckDefault2">
                      <label class="form-check-label ms-2 pt-1" for="flexCheckDefault2">
                        ADDENDUM REPORT
                      </label>
                    </div>
                  </div>

                  <div class="col-md-3 col-sm-12">
                    <div class="form-check d-inline-flex align-items-center">
                      <input class="form-check-input p-2" type="checkbox" value="" id="flexCheckDefault3">
                      <label class="form-check-label ms-2 pt-1" for="flexCheckDefault3">
                        SUPPLEMENTAL REPORT
                      </label>
                    </div>
                  </div>

                  <div class="col-md-3 col-sm-12">
                    <div class="form-check d-inline-flex align-items-center">
                      <input class="form-check-input p-2" type="checkbox" value="" id="flexCheckDefault4">
                      <label class="form-check-label ms-2 pt-1" for="flexCheckDefault4">
                        CORRECTED REPORT
                      </label>
                    </div>
                  </div>

                  <div class="col-md-3 col-sm-12">
                    <div class="form-check d-inline-flex align-items-center">
                      <input class="form-check-input p-2" type="checkbox" value="" id="flexCheckDefault5">
                      <label class="form-check-label ms-2 pt-1" for="flexCheckDefault5">
                        AMMENDED REPORT
                      </label>
                    </div>
                  </div>

                  <div class="col-md-3 col-sm-12">
                    <div class="form-check d-inline-flex align-items-center">
                      <input class="form-check-input p-2" type="checkbox" value="" id="flexCheckDefault6">
                      <label class="form-check-label ms-2 pt-1" for="flexCheckDefault6">
                        <strong class="text-primary">ALL REPORT TYPES</strong>
                      </label>
                    </div>
                  </div>
                </div>                        
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Download</button>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Published Download Preview Modal Ends-->

    <ng-template #downloadcontent let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Download</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
      </div>
      <div class="modal-body pb-2">
        <div class="w-100 pb-1">
          <strong class="w-100 pb-2 d-block fs-6 text-primary">THEME 5</strong>
          <div class="input-group w-100">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span>
            <input type="text" class="form-control" placeholder="Search" aria-label="search" aria-describedby="basic-addon1">
          </div>
          <button type="button" class="btn btn-outline-primary my-2">All Casetypes</button>
        </div>

        <div class="w-100 border bg-light p-3">

          <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
            <span>Respiratory</span>
            <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
          </span>

          <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
            <span>Molecular</span>
            <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
          </span>

          <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
            <span>Toxicology</span>
            <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
          </span>

          <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
            <span>Surgical Podlatry</span>
            <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
          </span>

          <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
            <span>Respiratory</span>
            <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
          </span>

          <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
            <span>Molecular</span>
            <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
          </span>

          <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
            <span>Toxicology</span>
            <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
          </span>

          <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
            <span>Surgical Podlatry</span>
            <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
          </span>

          <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
            <span>Respiratory</span>
            <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
          </span>

          <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
            <span>Molecular</span>
            <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
          </span>

          <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
            <span>Toxicology</span>
            <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
          </span>

          <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
            <span>Surgical Podlatry</span>
            <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
          </span>

          <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
            <span>Respiratory</span>
            <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
          </span>

          <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
            <span>Molecular</span>
            <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
          </span>

          <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
            <span>Toxicology</span>
            <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
          </span>

          <span class="bg-white m-1 text-primary border-primary px-2 py-1 d-inline-flex align-items-center">
            <span>Surgical Podlatry</span>
            <i class="bi bi-x-circle-fill ms-3 cursor-pointer"></i>                        
          </span>

        </div>

        <div class="w-100 p-3">
            <strong>Select all the required types to be downloaded:</strong>

            <div class="row mt-2">

              <div class="col-md-3 col-sm-12">
                <div class="form-check d-inline-flex align-items-center">
                  <input class="form-check-input p-2" type="checkbox" value="" id="flexCheckDefault1">
                  <label class="form-check-label ms-2 pt-1" for="flexCheckDefault1">
                    FINALISED
                  </label>
                </div>
              </div>

              <div class="col-md-3 col-sm-12">
                <div class="form-check d-inline-flex align-items-center">
                  <input class="form-check-input p-2" type="checkbox" value="" id="flexCheckDefault2">
                  <label class="form-check-label ms-2 pt-1" for="flexCheckDefault2">
                    ADDENDUM REPORT
                  </label>
                </div>
              </div>

              <div class="col-md-3 col-sm-12">
                <div class="form-check d-inline-flex align-items-center">
                  <input class="form-check-input p-2" type="checkbox" value="" id="flexCheckDefault3">
                  <label class="form-check-label ms-2 pt-1" for="flexCheckDefault3">
                    SUPPLEMENTAL REPORT
                  </label>
                </div>
              </div>

              <div class="col-md-3 col-sm-12">
                <div class="form-check d-inline-flex align-items-center">
                  <input class="form-check-input p-2" type="checkbox" value="" id="flexCheckDefault4">
                  <label class="form-check-label ms-2 pt-1" for="flexCheckDefault4">
                    CORRECTED REPORT
                  </label>
                </div>
              </div>

              <div class="col-md-3 col-sm-12">
                <div class="form-check d-inline-flex align-items-center">
                  <input class="form-check-input p-2" type="checkbox" value="" id="flexCheckDefault5">
                  <label class="form-check-label ms-2 pt-1" for="flexCheckDefault5">
                    AMMENDED REPORT
                  </label>
                </div>
              </div>

              <div class="col-md-3 col-sm-12">
                <div class="form-check d-inline-flex align-items-center">
                  <input class="form-check-input p-2" type="checkbox" value="" id="flexCheckDefault6">
                  <label class="form-check-label ms-2 pt-1" for="flexCheckDefault6">
                    <strong class="text-primary">ALL REPORT TYPES</strong>
                  </label>
                </div>
              </div>
            </div>                        
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="modal.close('Save click')">Cancel</button>
        <button type="button" class="btn btn-primary">Download</button>
      </div>
    </ng-template>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script> -->

</body>
</html>